<div id="todo_item_div">
       
        
</div>
<section class="modal">
        <div class="modal-info center-self-xy ">
            <div class="modal-t">
                <div id="title" ><span>Title:&nbsp;</span><input type="text"/></div>
                <div id="content" ><span>Content:&nbsp;</span><textarea></textarea></div>
                <div id="author" ><span>Author:&nbsp;</span><input type="text"/></div>
                <div id="date" ><span>Date:&nbsp;</span><input type="text"/></div>
            </div>
            <div class="modal-b clearfix">
                <button class="fl cancel">Cancel</button>
                <button class="fr save">Save</button>
            </div>
        </div>
    </section>
