/* You can add global styles to this file, and also import other style files */
@import './app/app.component.scss';
@import './app/app-add-bar/app-add-bar.component.scss';
@import './app/app-item-list/app-item-list.component.scss';
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

