<div id="add_div">
  <button id="addbtn" (click)="createNewTodoItem()">
    {{addBtn}}</button>
  <div id="finish_tag"><svg><circle class="finish"></circle></svg><span>{{f}}</span></div>
  <div id="unfinish_tag"><svg><circle class="unfinish"></circle></svg><span>{{uf}}</span></div>
</div>

<section class="modal_2">
  <div class="modal-info_2 center-self-xy_2 ">
    <div class="modal-t_2">
      <div id="title_2"><span>Title:&nbsp;</span><input type="text" /></div>
      <div id="content_2"><span>Content:&nbsp;</span><textarea></textarea></div>
      <div id="author_2"><span>Author:&nbsp;</span><input type="text" /></div>
      <div id="date_2"><span>Date:&nbsp;</span><input type="text" /></div>
    </div>
    <div class="modal-b_2 clearfix_2">
      <button class="fl_2 cancel_2" appCacelModalDirective>Cancel</button>
      <button class="fr_2 save_2" appSaveModalDirective>Save</button>
    </div>
  </div>
</section>